footer {
  @include background-green;
  #block-footer {
    .menu-item {
      text-align: center;
      a {
        @include link-white;
        &:hover {
          @include link-orange;
        }
      }
    }
  }
  #block-copyright {
    font-size: 8px;
    text-align: center;
    @include link-orange;
  }
}