body {
  @import url(https://pl.allfont.net/allfont.css?fonts=roboto-regular);
  font-family: 'Roboto Regular', arial;
}

a {
  @include font-bold;
  text-decoration: none;
  @include link-green;
  &:hover {
    @include link-orange;
  }
}

.header-wrapper {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;

  .field--name-field-page-title {
    position: absolute;
    bottom: 10%;
    font-size: 60px;
    @include devices(mobile) {
      font-size: 40px;
    }
    @include link-white;
    @include font-bold;
    width: 100%;
    text-align: center;
  }
  .field--name-field-image {
    position: absolute;
    bottom: 50%;
    height:70vh;
    opacity: 0.7;
    @include devices(mobile){
      bottom: 0;
    }
    img {
      @include devices(mobile){
        width: 100%;
        height:100%;
        object-fit:cover;
      }
    }
  }
}

article.content {
  margin: auto;
  min-height: 30vh;
  .webform-submission-form {
    padding: 30px 40px;
  }
  .field--type-text-with-summary {
    padding: 30px 40px;
  }
}
.form-text{
  @include devices(mobile){
   max-width: 70vw;
  }
}
.form-email{
  @include devices(mobile){
   max-width: 70vw;
  }
}


#edit-actions {
  input {
    padding: 5px;
    @include border-green;
    @include background-white;
    @include link-green;
    &:hover {
      @include link-orange;
    }
  }
}
