.paragraph--type--text-and-image {
  margin: 10px 0;
  .field--name-field-image {
    display: inline-block;
    max-width: fit-content;
  }
  .field--name-field-text {
    display: inline-block;
    max-width: 70%;
    vertical-align: top;
    text-align: left;
    margin-left: 20px;
  }
}