.view-news {
  padding: 20px;
  .view-content {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: fit-content;
    margin: auto;
    text-align: center;
    @include background-white;
    .views-row {
      max-width: 300px;
      display: inline-block;
      padding: 15px;
      margin: 0 10px 15px 0;
      @include border-green;
      .views-field-field-teaser-image {
        text-align: center;
        width: auto;
      }
      .views-field-title {
        text-align: center;
        padding: 5px;
        font-size: 22px;
        max-width: 240px;
      }
    }
  }
}

.news {
}