/* line 1, ../sass/_global.scss */
body {
  @import url(https://pl.allfont.net/allfont.css?fonts=roboto-regular);
  font-family: 'Roboto Regular', arial;
}

/* line 6, ../sass/_global.scss */
a {
  font-weight: 600;
  text-decoration: none;
  color: #031C07;
}
/* line 10, ../sass/_global.scss */
a:hover {
  color: #DD843B;
}

/* line 15, ../sass/_global.scss */
.header-wrapper {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}
/* line 21, ../sass/_global.scss */
.header-wrapper .field--name-field-page-title {
  position: absolute;
  bottom: 10%;
  font-size: 60px;
  color: #FFFFFF;
  font-weight: 600;
  width: 100%;
  text-align: center;
}
/* line 30, ../sass/_global.scss */
.header-wrapper .field--name-field-image {
  position: absolute;
  bottom: 50%;
  height: 70vh;
  opacity: 0.7;
}
@media only screen and (max-width: 680px) {
  /* line 30, ../sass/_global.scss */
  .header-wrapper .field--name-field-image {
    bottom: 0;
  }
}
@media only screen and (max-width: 680px) {
  /* line 38, ../sass/_global.scss */
  .header-wrapper .field--name-field-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* line 48, ../sass/_global.scss */
article.content {
  margin: auto;
  min-height: 30vh;
}
/* line 51, ../sass/_global.scss */
article.content .webform-submission-form {
  padding: 30px 40px;
}
/* line 54, ../sass/_global.scss */
article.content .field--type-text-with-summary {
  padding: 30px 40px;
}

@media only screen and (max-width: 680px) {
  /* line 58, ../sass/_global.scss */
  .form-text {
    max-width: 70vw;
  }
}

@media only screen and (max-width: 680px) {
  /* line 63, ../sass/_global.scss */
  .form-email {
    max-width: 70vw;
  }
}

/* line 71, ../sass/_global.scss */
#edit-actions input {
  padding: 5px;
  border: #031C07 solid 2px;
  background: #FFFFFF;
  color: #031C07;
}
/* line 76, ../sass/_global.scss */
#edit-actions input:hover {
  color: #DD843B;
}

/* line 1, ../sass/_slider.scss */
.swiper {
  width: 100%;
  max-height: 100vh;
}
@media only screen and (max-width: 680px) {
  /* line 4, ../sass/_slider.scss */
  .swiper img {
    width: 100%;
    max-height: 50vh;
    object-fit: cover;
  }
}
/* line 12, ../sass/_slider.scss */
.swiper .paragraph--type--front-page-galery {
  position: relative;
}
/* line 14, ../sass/_slider.scss */
.swiper .paragraph--type--front-page-galery .field--name-field-link {
  position: absolute;
  top: 60%;
  left: 10%;
  font-size: 30px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}
/* line 21, ../sass/_slider.scss */
.swiper .paragraph--type--front-page-galery .field--name-field-link a {
  color: #FFFFFF;
}
/* line 23, ../sass/_slider.scss */
.swiper .paragraph--type--front-page-galery .field--name-field-link a:hover {
  color: #DD843B;
}
/* line 28, ../sass/_slider.scss */
.swiper .paragraph--type--front-page-galery .field--name-field-description {
  position: absolute;
  bottom: 30%;
  left: 10%;
  font-size: 18px;
  padding: 10px;
  width: 50%;
  background: rgba(0, 0, 0, 0.6);
  color: #FFFFFF;
}
@media only screen and (max-width: 680px) {
  /* line 28, ../sass/_slider.scss */
  .swiper .paragraph--type--front-page-galery .field--name-field-description {
    display: none;
  }
}
/* line 42, ../sass/_slider.scss */
.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  padding: 5px;
  color: #031C07;
}
@media only screen and (max-width: 680px) {
  /* line 42, ../sass/_slider.scss */
  .swiper .swiper-button-next,
  .swiper .swiper-button-prev {
    display: none;
  }
}
/* line 49, ../sass/_slider.scss */
.swiper .swiper-button-next:hover,
.swiper .swiper-button-prev:hover {
  color: #DD843B;
}

/* line 1, ../sass/_menu.scss */
.region-primary-menu {
  position: fixed;
  top: 0px;
  z-index: 100;
  background: #031C07;
  width: 100%;
}
/* line 7, ../sass/_menu.scss */
.region-primary-menu .menu--main {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
/* line 12, ../sass/_menu.scss */
.region-primary-menu .menu--main .site-logo {
  height: 80px;
  padding: 10px 0 10px 20px;
}
/* line 15, ../sass/_menu.scss */
.region-primary-menu .menu--main .site-logo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* line 22, ../sass/_menu.scss */
.region-primary-menu .menu--main .hamburger {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 90px;
  padding: 5px 15px 0px 15px;
  border: 0;
  font-size: 1.4em;
  font-weight: bold;
  outline: none;
  background: none;
  color: #FFFFFF;
}
/* line 35, ../sass/_menu.scss */
.region-primary-menu .menu--main .hamburger:hover {
  color: #DD843B;
}
@media only screen and (max-width: 680px) {
  /* line 22, ../sass/_menu.scss */
  .region-primary-menu .menu--main .hamburger {
    display: block;
  }
}
/* line 42, ../sass/_menu.scss */
.region-primary-menu .menu--main .cross {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px 15px 0px 15px;
  border: 0;
  font-size: 3em;
  line-height: 120px;
  outline: none;
  background: none;
  color: #FFFFFF;
}
/* line 54, ../sass/_menu.scss */
.region-primary-menu .menu--main .cross:hover {
  color: #DD843B;
}
/* line 58, ../sass/_menu.scss */
.region-primary-menu .menu--main .menu {
  text-align: right;
  padding-right: 5%;
  display: flex;
}
@media only screen and (max-width: 680px) {
  /* line 58, ../sass/_menu.scss */
  .region-primary-menu .menu--main .menu {
    display: none;
    position: absolute;
    top: 90px;
    margin: 10px 0 0 0;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    background: #031C07;
  }
}
/* line 72, ../sass/_menu.scss */
.region-primary-menu .menu--main .menu .menu-item {
  display: inline-block;
  align-self: center;
  padding-right: 20px;
}
@media only screen and (max-width: 680px) {
  /* line 72, ../sass/_menu.scss */
  .region-primary-menu .menu--main .menu .menu-item {
    padding: 15px;
  }
}
@media only screen and (max-width: 680px) {
  /* line 72, ../sass/_menu.scss */
  .region-primary-menu .menu--main .menu .menu-item {
    display: block;
  }
}
/* line 82, ../sass/_menu.scss */
.region-primary-menu .menu--main .menu .menu-item a {
  color: #FFFFFF;
}
/* line 84, ../sass/_menu.scss */
.region-primary-menu .menu--main .menu .menu-item a:hover {
  color: #DD843B;
}

/* line 1, ../sass/_footer.scss */
footer {
  background: #031C07;
}
/* line 3, ../sass/_footer.scss */
footer #block-footer {
  padding-top: 5px;
}
/* line 5, ../sass/_footer.scss */
footer #block-footer .menu-item {
  text-align: center;
}
/* line 7, ../sass/_footer.scss */
footer #block-footer .menu-item a {
  display: block;
  padding-top: 5px;
  color: #FFFFFF;
}
/* line 11, ../sass/_footer.scss */
footer #block-footer .menu-item a:hover {
  color: #DD843B;
}
/* line 17, ../sass/_footer.scss */
footer #block-copyright {
  font-size: 8px;
  text-align: center;
  color: #DD843B;
}

/* line 1, ../sass/_news.scss */
.view-news {
  padding: 20px;
}
/* line 3, ../sass/_news.scss */
.view-news .view-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: fit-content;
  margin: auto;
  text-align: center;
  background: #FFFFFF;
}
/* line 11, ../sass/_news.scss */
.view-news .view-content .views-row {
  max-width: 300px;
  display: inline-block;
  padding: 15px;
  margin-bottom: 15px;
  border: #031C07 solid 2px;
}
/* line 17, ../sass/_news.scss */
.view-news .view-content .views-row .views-field-field-teaser-image {
  text-align: center;
  width: auto;
}
/* line 21, ../sass/_news.scss */
.view-news .view-content .views-row .views-field-title {
  text-align: center;
  padding: 5px;
  font-size: 22px;
  max-width: 240px;
}

/* line 3, ../sass/_page.scss */
.page-node-type-page .page .content {
  padding-top: 50px;
  padding: 30px;
}

/* line 2, ../sass/_gallery.scss */
#block-lesnik-content .view-gallery {
  padding: 20px;
}
/* line 4, ../sass/_gallery.scss */
#block-lesnik-content .view-gallery .view-content {
  max-width: fit-content;
  margin: auto;
  background: #FFFFFF;
}
/* line 8, ../sass/_gallery.scss */
#block-lesnik-content .view-gallery .view-content .views-row {
  max-width: 300px;
  display: inline-block;
  padding: 15px;
  margin-right: 15px;
  border: #031C07 solid 2px;
}
/* line 14, ../sass/_gallery.scss */
#block-lesnik-content .view-gallery .view-content .views-row .views-field-field-teaser-image {
  text-align: center;
  width: auto;
}
/* line 18, ../sass/_gallery.scss */
#block-lesnik-content .view-gallery .view-content .views-row .views-field-title {
  text-align: center;
  padding: 5px;
  font-size: 22px;
}

/* line 28, ../sass/_gallery.scss */
.paragraph--type--gallery {
  background: #000;
  width: 75%;
  margin: auto;
}
/* line 32, ../sass/_gallery.scss */
.paragraph--type--gallery .fotorama__wrap {
  margin: auto;
}

/* line 1, ../sass/_front-page.scss */
.node__content {
  padding: 30px 60px;
  margin: auto;
}
@media only screen and (max-width: 680px) {
  /* line 1, ../sass/_front-page.scss */
  .node__content {
    padding: 20px 40px;
  }
}

/* line 4, ../sass/_contact.scss */
.node-58 .field--type-entity-reference-revisions .field__item:nth-child(1) {
  display: inline-flex;
  width: 49%;
  vertical-align: top;
}
@media only screen and (max-width: 1200px) {
  /* line 4, ../sass/_contact.scss */
  .node-58 .field--type-entity-reference-revisions .field__item:nth-child(1) {
    display: block;
    width: 100%;
  }
}
/* line 12, ../sass/_contact.scss */
.node-58 .field--type-entity-reference-revisions .field__item:nth-child(1) .paragraph--type--text {
  padding: 100px;
  width: 100%;
}
@media only screen and (max-width: 1200px) {
  /* line 12, ../sass/_contact.scss */
  .node-58 .field--type-entity-reference-revisions .field__item:nth-child(1) .paragraph--type--text {
    padding: 0;
    text-align: center;
  }
}
/* line 19, ../sass/_contact.scss */
.node-58 .field--type-entity-reference-revisions .field__item:nth-child(1) .paragraph--type--text .field--name-field-text {
  width: 100%;
  display: block;
}
/* line 25, ../sass/_contact.scss */
.node-58 .field--type-entity-reference-revisions .field__item:nth-child(2) {
  display: inline-flex;
  width: 49%;
  vertical-align: top;
}
@media only screen and (max-width: 1200px) {
  /* line 25, ../sass/_contact.scss */
  .node-58 .field--type-entity-reference-revisions .field__item:nth-child(2) {
    display: block;
    width: 100%;
  }
}
/* line 36, ../sass/_contact.scss */
.node-58 .field--type-entity-reference-revisions .paragraph--type--map .field--name-field-google-map {
  display: block;
  width: 100%;
}

/* line 2, ../sass/_imageParagraph.scss */
.paragraph--type--image .field--name-field-image {
  text-align: center;
}

/* line 2, ../sass/_textParagraph.scss */
.paragraph--type--text .field--name-field-text-title {
  font-size: 25px;
  margin: 10px 0;
  font-weight: 600;
}

/* line 1, ../sass/_imageTextParagraph.scss */
.paragraph--type--text-and-image {
  margin: 10px 0;
}
/* line 3, ../sass/_imageTextParagraph.scss */
.paragraph--type--text-and-image .field--name-field-image {
  display: inline-block;
  max-width: fit-content;
}
/* line 7, ../sass/_imageTextParagraph.scss */
.paragraph--type--text-and-image .field--name-field-text {
  display: inline-block;
  max-width: 70%;
  vertical-align: top;
  text-align: left;
  margin-left: 20px;
}

/* line 1, ../sass/_user.scss */
.user-login-form {
  height: 80vh;
  padding-top: 100px;
  padding-left: 50px;
  width: 100%;
}
/* line 6, ../sass/_user.scss */
.user-login-form label {
  display: block;
}
/* line 9, ../sass/_user.scss */
.user-login-form .description {
  width: 70vw;
}

/* line 3, ../sass/_logged.scss */
.user-logged-in .layout-container main {
  min-height: 70vh;
}

/* line 1, ../sass/_imageParagraphWithTextLeft.scss */
.paragraph--type--image-with-text-left {
  margin-bottom: 20px;
}
/* line 3, ../sass/_imageParagraphWithTextLeft.scss */
.paragraph--type--image-with-text-left .field {
  width: fit-content;
  display: inline-block;
  vertical-align: top;
}
/* line 7, ../sass/_imageParagraphWithTextLeft.scss */
.paragraph--type--image-with-text-left .field .field__item {
  text-align: justify;
  width: fit-content;
}

/* line 2, ../sass/_videoParagraph.scss */
.field--name-field-media-oembed-video .media-oembed-content {
  margin: auto;
  height: 900px;
  width: 100%;
}
